.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-top: 10%; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: darkblue;
  margin-right: 1%;
}

.cell{
  width: 75px;
  height: 75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

.xo{
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 25px;
  margin-left: 43%;
  margin-top: 2%;
}

#turn{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:darkblue;
} 


#reset {
  width: 100px;
  margin-left: 47%;
  height: 57px;
  background-color: rgb(226, 104, 104);
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  }
  
  #reset:hover {
    background-color: black;
    color: white;
  }

  #reset:active {
    background-color: rgb(226, 104, 104);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }