.main{
    border: 3px solid black;
    width: 45%;
    display: flex;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 25%;
    margin-top: 3%;
    overflow-y: scroll;
    height: 820px;
    /* background-color:rgb(255, 255, 255);
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}

h2{
    color: navy;
}

input{
    size: 30;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus{
    outline: none;
}

input:placeholder{
    color: rgb(199, 149, 255);
}

input[type="submit"]{
  border: 2px solid rgb(0, 0, 0);
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  padding: 5px 35px;
  font-size: 20px;
  position:relative;
  left: 35%;
  cursor: pointer;
  
}

input[type="submit"]:hover 
{
    background-color: #000000;
    color: white;
}

input[type="submit"]:active {
  background-color: #000000;
  box-shadow: 0 5px rgb(116, 115, 115);
  transform: translateY(4px);
}

input[type="radio"]{
    accent-color: green;
    cursor: pointer;
}

fieldset{
    background-color:rgb(255, 255, 255);
    border:none;
    /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
    /* height:45%; */
}

label{
    margin-right: 200px ;
}

select{
    width: 250px;
    height: 35px;
}

#dob{
    width: 40%;
}

#firstname-error,#lastname-error,#eid-error,#mobile-error,#password-error,#url-error{
    margin-top: 1%;
    font-size: 15px;
    color: red;
    font-family: sans-serif;
}

.required-color {
    color: rgb(255, 0, 0);
}

input[type="text"]{
    float:right;
    padding-top: 7px;
}

input[type="url"]{
    float: right;
    padding-top: 7px;
}

input[type="password"]{
    float: right;
    padding-top: 7px;
}