.main{
    overflow-y: scroll;
    height: 69%;
    margin: 7% 28.5% 7% 28.5%;
    border: 3px solid #959595;;
}

table{
    border: 2px solid black;
    text-align: center;
    width: 50%;
    /* border-collapse: collapse; */
}

th{
    border: 2px solid black;
    /* text-align: center; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white; */
    
}

td{
    /* text-align: center; */
    border: 2px solid black;
    /* background: rgb(255, 255, 255); */
    /* background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);     */
}