.calculator{
    width: 100%;
    height:50%;
    display: flex;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{ 
    /* border-radius: 15px; */
    width: 220px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
    font-weight: bolder;
    /* border: solid black 5px; */
}

input[type=button]{
    border-radius: 100px;
    color: black;
    background-color: bisque;
    block-size: 75%;
    font-size: 20px;
    width: 100%;
}


input[type=text]{
    font-size: 15px;
    block-size: 100%;
}