.stopWatch{
    width: 50%;
    height:50%;
    display: flex;
    font-size: 45px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    margin-left: 20%;
    background-image: linear-gradient(to left bottom, #5bc7ec, #64d9e3, #89e9d3, #b9f4c5, #eafdbf);
    border-radius: 75px;

}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkblue;
    padding-top: 20px;
    margin-left: 41%;
}

body{
    /* background-color:rgb(238, 193, 127); */
    color:black;
}

button{
    width: 100px;
    height: 40px;
    border: 3px solid rgb(248, 157, 157);
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    background-color: black;
    color: white;
    block-size: 75%;
    margin-top: 10%;
}

button:hover{

}

/* .stopWatch{
    font-size: larger;
    position: absolute;
    top: 15%;
    left: 33%;
    transform: translate(20px,10px);
} */