.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: left;
    align-items: center;
    margin-left: 25%;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    border: 2px solid #040404;
    background-color: lightsteelblue;
    gap: 10px;
    width: 40%;
    height: 35%;
    box-shadow: 5px 10px #888888;
}

.counters{
    height: 150px;
    width: 150px;
    margin: 10px 0px 15px 425px;
    padding: 1% 10% 4% 10%;
}

#initial,#increament,#decreament{
    height: 13%;
    /* width: 50%; */
}

input{
    font-size: large;
}

button{
    font-size: 18px;
    box-sizing: content-box;
    width: 125px;
    height: 45px;
    border-radius: 21px;
    box-shadow: 3px 3px 10px #000000;
    color: darkblue;
    cursor: pointer;
}

#createCounter{
    margin-top: 5%;
}

.counter{
    margin: 5%;
    border:2px solid black;
    width: 250%;
    height: 35%;
    padding: 45%;
    justify-content: center;
    text-align: center;
    background-color: lightsteelblue;
}

.new-inputField{
    background-color: white;
    height: 70%;
    padding-top: 4%;
    margin-top: -10%;
    font-size: 20px;
}

.increament-button,.decreament-button{
    margin: 3%;
}

.close-btn{
    position: relative;
    bottom: 129%;
    left: 64%;
    padding: 4px 13px 20px 7px;
    font-size: 16px;
    cursor: pointer;
    /* border: none; */
    border-radius: 20%;
    width: 1%;
    height: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.close-btn:hover{
    background-color: rgb(255, 0, 0);
    color: white;
} 

/* .close {
    position: absolute;
    right: 22%;
    top: 37%;
    padding: 12px 16px 12px 16px;
    font-size: 37px;
    cursor: pointer;
  } */