/* .hide {
  display: none;
} */
.drag-over {
  border: dashed 3px red;
}
/* .drop-targets{
  flex-direction: column;
} */
.box{
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(216, 177, 253);
  width: 300px;
  height: 100px;
  margin-top: 3px;

}
.item{
  border: 3px solid rgb(0, 0, 0);
  width: 100px;
  height: 50px;
  margin: 22px 0px 0px 92px;
  background-color: rgb(239, 190, 250);
}