.main{
    border: 3px solid black;
    width: 50%;
    height:50%;
    display: flex;
    font-size: 30px;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    margin:5% 0 0 25%;
    /* background-color: rgb(248, 226, 226); */
    /* box-shadow: ;    */

    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container{
    padding-top: 3%;
}

.sub-main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.result{
    padding-left: 3px;
    margin-left: 5%;
    border: 1.5px solid;
    width: 50%;
    /* height: 0%; */
    background-color: rgb(233 255 233);
}

h2{
    color:rgb(5, 5, 5);   
}

button{
    cursor:pointer;
    background-color: black;
    border-radius: 15%;
    color:white;
    font-size: 28px;
    font-family: cursive;
}



input{
    font-size: 18px;
    height: 38px;
    padding-left: 3px;
    /* font-weight: bold; */
    background-color: rgb(233 255 233);
}

/* #reset{
    padding-left: 45%;
    padding-top: 10%;
} */
