.sub-main{
    width: 50%;
    height: 50%;
    margin: 100px 360px 100px 360px;
    display: flex;
    padding: 0px 0px 75px 0px;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    text-align: center;
    position: fixed;
    border: 3px solid purple;
    overflow-y: scroll;
    /* height: 820px; */
}

h1{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    font-weight: bolder;
}

.container{
    margin-left: 10%;
    width: 360px;
}

#inputField{
    width: 250px;
    /* height: 50px; */
    outline-style: double;
    outline-color: deeppink;
    font-size: 25px;
    vertical-align: bottom;
    margin-left: 70%;
}

button{
    margin-top: 25%;
    margin-left: 85%;
    font-weight: bold;
}

.button{
    padding-left: 80%;
}

#addToDo{
    height: 50px;
    width: 70px;
    vertical-align: middle;
    font-style: oblique;
    font-size: 18px;
}

.todos{
    border: 10px;
    font-size: large;
    border-color: brown;
    margin-top: 25px;
}

.paragraph-styling{
    width: 110%;
    height: auto;
    cursor: pointer;
    font-size: 25px;
    text-align: left;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 194, 194);
    /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
    margin-left: 52%;
    color: rgb(0, 0, 0);
}

.close-btn{
    position: sticky;
    left: 84%;
    padding: 4px 15px 4px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20%;
    width: 1%;
    margin: 0px 0px 3px 0px;
    height: 2%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.close-btn:hover{
    background-color: red;
    color: white;
}