*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background:rgb(36, 249, 249); */
    /* color: #fff; */
}

body{
    border: 3px solid #002aff;
    margin: 1% 20% 1% 20%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.game{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    /* border: 3px solid pink; */
}

.score {
    /* display: flex;
    flex-direction: inherit;
    justify-content: center;
    position: inherit;
    padding-top: 14%; */
    /* border: 3px solid orange; */
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 120px;
    z-index: 1;
}

.title{
    position: absolute;
    top: 25px;
    font-size: 4rem;
    z-index: 2;
    color: black;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    padding: 0px 10px 0px 10px;
}


.playerScore,.computerScore{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
}

.options {
    /* margin: 0px 211px 0px 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
     margin-left: 0%; 
    justify-content: center;
    padding-block: 7%;*/
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.main{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 120%;
    
    position: relative
    /* margin: 0px 10% 0 43%;
    font-size: 27px; */
}

.movesLeft {
    color: darkred;
    font-size: 25px;
    font-weight: bold;
    margin-left: 2%;
    padding-top: 6%;
}

.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* .options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}  */

.playerChoice{
    border: 2px solid #ff0000;
    width: 90%;
    height: 11%;
    padding: 40px 150px 40px 150px;
    margin: 5% 104% 4% 104%;
    font-size: 25px;
    color: rgb(183, 179, 179);
    font-weight: bold;
    text-align: center;
}

.computerChoice{
    border: 2px solid #ff0000;
    width: 92%;
    height: 10%;
    padding: 40px 150px 40px 150px;
    margin: 17% 104% 4% 104%;
    text-align: center;
    font-size: 25px;
    color: rgb(183, 179, 179);
    font-weight: bold;
}


.rock, .paper, .scissor {
    padding: 18px;
    width: 115px;
    border-radius: 20px;
    font-weight: bold;
    background: rgb(249, 155, 241);
    outline: black;
    /* border-color: rgb(255, 255, 255); */
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    cursor: pointer;
    font-size: larger;
}

.restart{
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: rgb(149, 250, 149);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin: 5% 46% 0px 47%;
    padding-top: 0%; */
}

.result{
    color: #009d14;
    margin-top: 35px;
    font-size: 40px;
    height: 83px;
}

@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}